<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoRX Logs</title>
    <style>
        body{
            font-family: sans-serif;
        }
        h1{
            margin-bottom:0px;
        }
        .log_list th{
            text-align: left;
        }
        .log_list td{
            padding-right:20px;
        }
        .footer{
            text-align: center;
            font-size: 80%;
        }
    </style>
</head>

<h1>AutoRX Log</h1>
{% if system %}
    <small>Logs last processed at {{ system.date_last_complete_processing.strftime('%Y-%m-%d %H:%M:%S') }} UTC</small>
{% else %}
    <small>No logs have been processed. Run process_logs.py to populate the database</small>
{% endif %}

<br/>
<br/>
<table class="log_list">
    <tr>
        <th>Type</th>
        <th>Vehicle ID</th>
        <th>First Heard</th>
        <th>Last Heard</th>
        <th>Duration</th>
        <th>Distance</th>
        <th>Min Alt</th>
        <th>Max Alt</th>
        <th>Min Temp</th>
        <th>Max Temp</th>
    </tr>

    {% for v in vehicles %}
        <tr>
            <td>{% if v.vehicle_type %}{{ v.vehicle_type }}{% endif %}</td>
            <td><a href="{{ sondehub_url_prefix }}{{ v.vehicle_id }}">{{ v.vehicle_id }}</a></td>

            <td>{% if v.date_first_heard %}{{ v.date_first_heard.strftime('%Y-%m-%d %H:%M') }} {% endif %}</td>
            <td>{% if v.date_last_heard %}{{ v.date_last_heard.strftime('%Y-%m-%d %H:%M') }} ({{ v.date_last_heard|timeago }}){% endif %}</td>
            <td>{% if v.flight_time_minutes %}{{ "{:,.0f}".format(v.flight_time_minutes) }} mins{% endif %}</td>
            <td>{% if v.flight_distance_km %}{{ "{:,.2f}".format(v.flight_distance_km) }} km{% endif %}</td>
            <td>{% if v.min_altitude %}{{ "{:,.0f}".format(v.min_altitude) }}{% endif %}</td>
            <td>{% if v.max_altitude %}{{ "{:,.0f}".format(v.max_altitude) }}{% endif %}</td>
            <td>{% if v.min_temperature %}{{ "{:,.2f}".format(v.min_temperature) }}{% endif %}</td>
            <td>{% if v.max_temperature %}{{ "{:,.2f}".format(v.max_temperature) }}{% endif %}</td>
        </tr>
    {% endfor %}
</table>

<br/>
<br/>
<br/>
<div class="footer">Powered by <a href="https://github.com/jonathanendersby/loonlogs">LoonLogs</a> and <a href="https://github.com/projecthorus/radiosonde_auto_rx">RadioSonde AutoRX</div>